@import url("https://fonts.googleapis.com/css?family=Montserrat:400,800");

:root {
    --primary-color:#e50914;
    --dark-color: #141414;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    background: #000;
    color: #999;
}


/* form */
.formBody {
    font-family: "Montserrat", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #000;
}

.formBody h1 {
    font-weight: bold;
    margin: 0;
    color: #000;
}

.formBody p {
    font-size: 14px;
    font-weight: 100;
    line-height: 20px; 
    letter-spacing: 0.5px;
    margin: 20px 0 30px;
}

.formBody span {
    font-size: 12px;
}

.formBody a {
    color: #333;
    font-size: 14px;
    text-decoration: none;
    margin: 15px 0;
}

.formContainer {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 480px;
}

.formContainer form{
    background: #fff;
    display: flex;
    flex-direction: column;
    padding: 0 50px;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.social-container {
    margin: 20px 0;
}

.social-container a {
    border: 1px solid #ddd;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    height: 40px;
    width: 40px;
}

.form-container input {
    background: #eee;
    border: none;
    width: 100%;
    padding: 8px 15px;
    margin: 8px 0;
}

.button {
    border-radius: 20px;
    border: 1px solid #e50914;
    background: #e50914;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
}
button.ghost {
    background: transparent;
    border-color: #fff;
}

button:active {
    transform: scale(0.95);
}

.form-container {
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}

.sign-in-container {
    left: 0;
    width: 50%;
    z-index: 1;
}

.sign-up-container {
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
}

.overlay-container {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: transform 0.6s ease-in-out;
    z-index: 100;
}

.overlay {
    background: #e50914;
    background: linear-gradient(to right, #e22832, #e50914) no-repeat 0 0 / cover;
    color: #fff;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}

.overlay h1 {
    color: #fff;
}

.overlay-panel {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 40px;
    height: 100%;
    width: 50%;
    text-align: center;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}

.overlay-right {
    right: 0;
    transform: translateX(0);
}

.overlay-left {
    transform: translateX(-20%);
}

/* Animation */

/* Move signin to the right */
.formContainer.right-panel-active .sign-in-container {
    transform: translateX(100%);
}

/* Move overlay to left */
.formContainer.right-panel-active .overlay-container {
    transform: translateX(-100%);
}

/* Bring up sign up */
.formContainer.right-panel-active .sign-up-container {
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
}

/* move overlay back to right */
.formContainer.right-panel-active .overlay {
    transform: translateX(50%);
}

.formContainer.right-panel-active .overlay-left {
    transform: translateX(0);
}

.formContainer.right-panel-active .overlay-right {
    transform: translateX(20%);
}

ul {
    list-style: none;
}

h1, h2, h3, h4 {
    color: #fff;
}

a {
    color: #fff;
    text-decoration: none;
}

p {
    margin: 0.5rem 0;
}

img {
    width: 100%;
}


/* showcase */
.showcase {
    width: 100%;
    height: 100vh;
    position: relative;
    background:url("../images/landingpage.jpg") no-repeat center center/cover;
}

.showcase::after {
    content: "";
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    box-shadow: inset 120px 100px 250px #000, inset -120px 100px 250px #000;
    background: rgba(0,0,0, 0.6)
}

.showcase-top {
    position: relative;
    height:90px;
    z-index: 2;
}

.showcase-top img {
    width: 100px;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.showcase-top a {
    position:absolute;
    top:50%;
    right:0;
    transform: translate(-50%, -50%) 
}


.showcase-content {
    position: relative;
    z-index: 2;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 9rem;
}

.showcase-content h1 {
    font-weight: 700;
    font-size: 5.2rem;
    line-height: 1.1;
    margin: 0 0 2rem;
}

.showcase-content p {
    text-transform: uppercase;
    color: #fff;
    font-weight: 400;
    font-size: 1.9rem;
    line-height: 1.25;
    margin: 0 0 2rem;
}
    
/* popup */
.popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    width: 80%;
    height: 80%;
    justify-content: center;
    align-items: center;
    z-index: 4;
    transition: 200ms ease-in-out;
}
.popup.active {
    transform: translate(-50%, -50%) scale(1);
}
.popup-overlay {
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: scale(0);
    z-index: 3;
    pointer-events: none;
}

.opup-overlay.active {
    transform: scale(1);
    pointer-events: all;
}


/* Tabs */
.tabs {
    background: var(--dark-color);
    padding-top: 1rem;
    border-bottom: 3px solid #3d3d3d;
}

.tabs .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.tabs p {
    font-size: 1.2rem;
    padding-top: 0.5rem;
}

.tabs .container > div {
    padding: 1.5rem 0;
}

.tabs .container > div:hover {
    color: #fff;
    cursor: pointer;
}

.tab-border {
    border-bottom: var(--primary-color) 4px solid;
}


/* Tab content */
.tab-content {
    padding: 3rem 0;
    background: #000;
    color: #fff;
}

/* Hide content initially */
#tab-1-content,
#tab-2-content,
#tab-3-content {
    display: none;
}

.show {
    display: block !important;
}

#tab-1-content .tab-1-content-inner {
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    align-items:center;
    justify-content: center;
}

#tab-2-content .tab-2-content-top {
    display: grid;
    justify-content: center;
    align-items: center;
}

#tab-2-content .tab-2-content-bottom {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.table  {
    width: 100%;
    margin-top: 2rem;
    border-collapse:collapse;
    border-spacing: 0;
}

.table thead th {
    text-transform: uppercase;
    padding: 0.8rem;
}

.table tbody tr td {
    color: #999;
    padding: 0.8rem  1.2rem;
    text-align: center;
}


.table tbody tr td:first-child {
    text-align: left;
}

.table tbody tr:nth-child(odd) {
    background: #222;
}

/*Text Style*/
.text-xl {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.text-lg {
font-size:1.8rem;
margin-bottom: 1rem;
}

.text-md {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.text-center {
    text-align: center;
}

.text-dark {
    color: #999;
}


.more {
    color: var(--primary-color);
}

/* modal */
.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid #000;
    border-radius: 10px;
    z-index: 100;
    background: #fff;
    color: #000;
    width: 500px;
    max-width: 80%;
}

div .modal.active{
    transform:translate(-50%, -50%) scale(1);
}

.modal-header {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #000;
}

.modal-header .title {
    font-size: 1.25rem;
    font-weight: bold;
}

.modal-header .close-button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
}

.modal-body {
    padding: 10px 15px;
}

.modal-body a {
    margin-top: 2%;
}

#modal-overlay {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    pointer-events: none;
}

#modal-overlay.active {
    opacity: 1;
    pointer-events: all;
    z-index: 99;
}


/* Footer */
.footer {
    max-width: 75%;
    margin: 1rem auto;
    overflow: auto;
}

.footer, .footer a {
    color: #999;
    font-size: 0.9rem;
}

.footer p {
    margin-bottom: 1.rem;
}

.footer-cols {
    display: grid;
    grid-template-columns: repeat(5, 1fr)
}

.footer li {
    line-height: 1.9rem;
}

/*container*/
.container {
    max-width: 70%;
    margin: auto;
    overflow: hidden;
    padding: 0 2rem;
}



/* Button */
.btn {
    display: inline-block;
    background: var(--primary-color);
    color: #fff;
    padding: 0.4rem 1.3rem;
    font-size: 1rem;
    text-align: center;
    border: none;
    cursor: pointer;
    margin-right: 0.5rem;
    outline: none;
    box-shadow: 0 1px 0 rgba(0,0,0, 0.45);
    border-radius: 2px;
}

.btn:hover {
    border-radius: 5px;
}

.btn-xl {
    font-size:2rem;
    padding: 1.5rem 2.1rem;
    text-transform: uppercase;
}

.btn-lg {
    font-size: 1rem;
    padding: 0.8rem 1.3rem;
    text-transform: uppercase;
}

.btn-icon {
    margin-left: 1rem;
}

/* fas fa-check */

#check {
    background: var(--primary-color);
    padding: 0.4rem 1.5rem;
    border: none;
    cursor: pointer;
    box-shadow: 0 1px 0 rgba(0,0,0, 0.45);
    border-radius: 8px;
}
#check:hover {
    border-radius: 10px;
    padding: 0.6rem 2rem;
    color: #fff;
}


@media(max-width: 960px) {
    .showcase {
        height: 70vh;
    }

    .hide-sm {
        display: none;
    }

    .showcase-top img {
        top: 30px;
        left: 5%;
        transform: translate(0)
    }

    .showcase-content h1 {
        font-size: 3.7rem;
        line-height: 1;
    }

    .showcase-content p {
        font-size: 1.5rem;
    }

    .footer-cols {
        grid-template-columns: repeat(4, 1fr);
    }

    .btn-xl {
        font-size: 1.5rem;
     padding: 1.4rem 2rem;
    }

    .text-xl {
        font-size: 1.5rem;
    }

    .text-lg {
        font-size: 1.3rem;
    }

    .text-md {
        font-size: 1rem;
    }
    
}

@media(max-width: 700px) {
    .showcase::after {
        box-shadow: inset 80px 80px 250px #000000, -80px -80px 250px #000000;
    }
    #tab-1-content .tab-1-content-inner {
    grid-template-columns: 1fr;
    text-align: center;
    }

    #tab-2-content .tab-2-content-top {
        display: block;
        text-align: center;
    }

    #tab-2-content .tab-2-content-bottom {
        grid-template-columns: 1fr;
    }

    .footer-cols {
        grid-template-columns: repeat(2, 1fr);
    }
}